*.gif filter=lfs diff=lfs merge=lfs -text
website/src/main/resources/static/dist/img/gif3.dfc76051.gif filter=lfs diff=lfs merge=lfs -text
website/target/classes/static/dist/img/gif3.dfc76051.gif filter=lfs diff=lfs merge=lfs -text
